@charset "UTF-8";
body {
	background-color:#ffd9fa; 
	/* 255 217 250 */
	font-family: Roboto_2d0052, Roboto_Fallback_2d0052, sans-serif, system-ui, sans-serif;
	color:white;
}
.header-rap {
	width:1080px;
	height:88px;
	background-color:yellow;
	
}
.tap1 {
	width:1080px;
	height:40px;
	background-color:#bb35fb;
	display:flex;
}
a .logo {
	
}
.tap1 nav {
	width:980px;
	height:40px;
	background-color:red;
	/*187 53 251  */
	display:flex;
}
nav span {
	
}
nav li {
	width:128px;
	height:40px;
	flex-basis:33%
}
nav li img {
	width: 24px;
	height:24px;
	border:0px;
	vertival-align:middle;
	max-width:100%;
}
nav li span {
	font-size:12px;
	margin-left:8px;
}
.Proclogin {
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}
.Proclogin a {
	background-color:#ffd9fa;
	font-size:12px;
	color:white;
	border-radius:4px;
	height:20px;
	text-align:center;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
