@charset "UTF-8";
body {
	background-color:#dedcee; 
	/* 255 217 250 */
	font-family: Roboto_2d0052, Roboto_Fallback_2d0052, sans-serif, system-ui, sans-serif;
	color:white;
}
.header-rap {
	width:1080px;
	height:88px;
	background-color:yellow;
	
}
.main-tap {
	width:1080px;
	height:40px;
	background-color:#6a60a9;
	display:flex;
}
.main-tap .logo img{
	background-color:#6a60a9;
	width:65px;
	height:40px;
}
.main-tap nav {
	width:950px;
	height:40px;
	background-color:#6a60a9;
	/*187 53 251  */
	display:flex;
}
nav span {
	
}
nav li {
	width:138px;
	height:40px;
	flex-basis:33%
}
nav li img {
	width: 24px;
	height:24px;
	border:0px;
	vertival-align:middle;
	max-width:100%;
}
nav li span {
	font-size:12px;
	margin-left:8px;
}
.Proclogin {
	width:80px;
	height:40px;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}
.Proclogin a {
	background-color:#dedcee;
	font-size:15px;
	color:#6a60a9;
	border-radius:4px;
	height:30px;
	text-align:center;
	display:flex;
	flex-direction: column;
	justify-content:center;
}

.sub-tap {
	width:1080px;
	height:48px;
	background-color:#6a60a9;
}
.boards {
	display:flex;
	text-align:center;
	justify-content:center;
}

.boards li {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
