@charset "UTF-8";
/*===========================================================================  */
/* seaching user */
/*===========================================================================  */

.container{
	 width: 100%;
    /* max-width: 1200px; */
    display: block;
    background-color: #fff;
    /* margin-left: auto; */
    /* border-radius: 10px; */
    border: none;
    /* display: flex;*/
padding: 32px 16px;
}


.title_content{
	    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    /* background-color: #fff; */
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    
}

.user_content{
	    margin-right: auto;
    /* margin-left: auto; */
    float: left;
    display: flex;
}

}

.info{
	
}

.subBanner{
	
}

.user-logo-box{
	/* width: 200px;
	height: 200px;
	background-color: #f2c7ff; */
}

.user-logo{
	width: 200px;
	height: 200px;
}

.info-item-name h2{
	font-family:'Malgun Gothic';
	font-size: 2em;
	font-weight: 400;
	
	
}



/*========================  ALL CONTAINER  =========================  */

.all_container{
	
	width: 100%; max-width: 1200px; min-width: 1200px;
    display: block;
    background-color: #ffdcdc;
    border: none;
    /* padding: 32px 16px; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.info{
	margin-left:20px;
}

.prev_rank{
	margin-top:8px;
	
}



.content-container{
	display: inline-block;
	
}

.tier-and-prevplayer{
	  /*   background-color: aqua; */
    display: inline-block;
    width: 302px;
}

.tier-box{
	
}

.rank{
	margin-bottom: 18px;
    background-color: aqua;
    border-radius: 100px;
    padding: 20px 30px;
}

.rank-header{
	
}

.rank-content{
	
}

.tier-picture img{
	 width:72px;
	
}

.tier-info{
	
}

.tier{
	
}

.lp{
	
}

.lose-win-ratio{
	
}

.lose-win{
	
}

.latio{
	
}

.champions{
	    width: 222px;
    margin-left: 16px;
}

.champions li img{
	width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
	
}

.champions ul li:nth-of-type(1){
	    margin-top: 0px;
}

.champions ul li{
	   display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}



.title{
	line-height: 16px;
    font-size: 12px;
    color: #758592;
}

.champions ul{
	  display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 88px;
    margin-top: 12px;
}

.queue_content{
	display: inline-block;
    width: 740px;
    margin-top: 8px;
    /* margin-left: 8px; */
    font-size: 12px;
    vertical-align: top;
}

.queue_type_select{
	    display: flex;
    position: relative;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid;
    background-color: #fff;
}

.queue_type_select>ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	height:28px;
	margin: 0px;
	/* background-color: gold; */
}

.queue_type_select_button{
	display: block;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    background: #FFF;
    background-color: var(--gray0);
    box-sizing: border-box;
    height: 28px;
    border: none;
}

.queue_type_select>ul>li{
	margin-left: 4px;
    vertical-align: top;
}

.info-addition{
	display: flex;
    text-align: left;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.stat{
	
}

.win-lose{
	font-size: 11px;
	font-family: '맑은 고딕', Arial, sans-serif; 
    font-weight: bold; 
    color:#9AA4AF;
}

.aver{
	
	display: inline-block;
    font-size: 11px;
    margin-left: 4px;
}

.per{
	display: inline-block;
    font-size: 11px;
    font-weight: bold; 
    color: #ffb914;
}

.gd{
	display: inline-block;
    font-size: 11px;
    font-weight: bold; 
    color: #50cc5c;
}


.kda{
	
}

.chart{
	
}

.champions{
	
}

.title-cham{
	
}
/* 포지션 css */
.positions {
	width: 222px;
    margin-left: 16px;
}

.positions ul{
	display: flex;
    justify-content: space-around;
    margin-top: 12px;
}

.positions ul li{
	
}
.positions ul li .bar{
	display: flex;
    align-items: flex-end;
    width: 16px;
    height: 64px;
    background-color: #DBE0E4;
}

div.bar div.gauge{
	   width: 16px;
    background-color: #5383E8;
}

.positionLogo{
	    margin-top: 8px;
}

 .queue_content_box{
	margin-top:8px;
	display: inline-block;
    margin-left: 8px;
} 

.queue_content>li{
 list-style: none;
	position: relative;
    margin-bottom: 8px;

}

.win_box{
	display: flex;
    height: 96px;
    border-radius: 4px;
    border-left-width: 6px;
    border-left-style: solid;
    border-color: #0084ff;
    background-color: #a1d1ff;
}

.lose_box{
	display: flex;
    height: 96px;
    border-radius: 4px;
    border-left-width: 6px;
    border-left-style: solid;
    border-color: #ff5454;
    background-color: #ffc8c8;
}



.content_box{
	 display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.gameBox{
	display: flex;
    height: 96px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px 0px 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.game{
	    width: 108px;
    color: var(--gray500);
    line-height: 16px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.win_box div.gameType{
	font-weight: bold;
    color: #0084ff;
}

.lose_box div.gameType{
	font-weight: bold;
    color: #ff0000;
}

div.game div.bar{
	    width: 48px;
    height: 1px;
    margin: 8px 0px 4px;
    background-color: #346b9e;
}

.result{
	font-weight: bold;
}

.flexBox{
	display: flex;
}

.flexBox:nth-of-type(2){
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;

}

.champion{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon{
	    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.champion div.icon a{
	width: 48px; height: 48px;
	position: relative;
    display: block;
}

.icon img{
	width: 48px; height: 48px; 
	display: block;
	border-radius: 50%;
}

.spells img {
	display: block;
	border-radius:4px;
}

span.chamlv{
	position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 11px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: rgb(32, 45, 55);
    font-family: Roboto, sans-serif;
}


.kda{
	display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 107px;
    padding-right: 12px;
    margin-left: 12px;

}

.k-d-a{
	line-height: 22px;
    font-size: 15px;
    color: var(--gray400);
    font-family: Roboto, sans-serif;
}

.k-d-a .d{
	color:red;
}

.k-d-a span{
	   font-weight: bold;
    color: black;
}

.ratio{
	line-height: 16px;
	color:#758592;
}

.flexBox:nth-of-type(1)>div.stats::before{
	content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #c2c2c2;
}

.stats{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 140px;
    color: #758592;
    padding-left: 8px;
    font-size: 11px;
}

.p-kill span{
	color: red;
}

.cs{
	
}



.items{
	display: flex;
}

.items ul{
	display: flex;
}

.win_box .flexBox:nth-of-type(2) .items li{
	width: 22px;
    height: 22px;
    margin-left: 2px;
    background-color: #66b2fc;
    border-radius: 4px;
}

.win_box .flexBox:nth-of-type(2) .items li:nth-of-type(1){
	width: 22px;
    height: 22px;
  /*   margin-left: 2px; */
    background-color: #66b2fc;
    border-radius: 4px;
}

.lose_box .flexBox:nth-of-type(2) .items li{
	width: 22px;
    height: 22px;
    margin-left: 2px;
    background-color: #ff7a7a;
    border-radius: 4px;
}

.lose_box .flexBox:nth-of-type(2) .items li:nth-of-type(1){
	width: 22px;
    height: 22px;
  /*   margin-left: 2px; */
    background-color: #ff7a7a;
    border-radius: 4px;
}

.item_box{
	position: relative;
}

.item_box img{
	width:22px; height: 22px;
	border-radius: 7px;
}

.none_item{
		width:22px; height: 22px;
   	 background-color: #a3b5d1;
	border-radius: 10px;
}

.ward{
	margin-left: 2px;
}

.ward img{
	border-radius: 50%;
}






.participants{
	display: flex;
}

.participants ul:first-child{
	margin-right: 8px;
}

.participants>ul>li>div.icon img{
	width:16px; height:16px;
	border-radius:4px;
}

.player_list{
	    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 88px;
    height: 18px;
    text-align: left;
    white-space: nowrap;

}

.name{
	display: inline-block;
    max-width: 60px;
    vertical-align: middle;
}

.name a{
	font-size: 12px;
    color: inherit;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

