.read_container{
/* 	background-color: white; */
	margin: 100px;
/* 	height: 100%; */
}

.read{
	background-color: white;
	width: 80%;
	height: 60vw;
	margin-top: -620px;
	margin-left: 270px;
}

@media screen and (max-width: 1500px) {
  .read {
    width: 100%;
	height: 90vw;
    margin-top: 100px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  .read {
	min-height: 600px;
  }
}

.read_head{
	width:: 100%;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	border-bottom: 1px solid #EBEEF1;
}

.content{
	padding-top: 30px;
	padding-left: 30px;
	height: 70%;
}

.read_actions{
	display: flex;
	border-top: 1px solid #EBEEF1;
	padding-top: 40px;
	padding-right: 10px;
	justify-content: flex-end;
}

@media screen and (max-width: 1500px) {
  .read_actions {
	display: none;
}
}