<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.spring.teamgg.mapper.MateBoardMapper">
	<select id="mateList" resultType="com.teamproject.spring.teamgg.vo.MateBoardVo">
		SELECT * FROM ${@com.teamproject.spring.teamgg.vo.MateBoardVo@TABLE_NAME_MATE}
		ORDER BY m_idx DESC LIMIT #{page},30
	</select>
	
	<select id="mateRead" resultType="com.teamproject.spring.teamgg.vo.MateBoardVo">
		select * from mate_board where m_idx = #{m_idx}
	</select>	
	
	<delete id="mateDel">
		delete from mate_board where m_idx = #{m_idx}
	</delete>
		
	<insert id="mateWrite" parameterType="com.teamproject.spring.teamgg.vo.MateBoardVo">
		insert into mate_board(m_title, m_writer, m_content, m_date)
    	values (#{m_title}, #{m_writer}, #{m_content}, now())
	</insert>		
	
	<update id="mateModify">
		update mate_board
		set m_title = #{m_title},
			m_content = #{m_content}
		where m_idx = #{m_idx} and m_writer = #{m_writer}
	</update>
	
	<select id="getTotalCount" resultType="int">
		SELECT count(*) from ${@com.teamproject.spring.teamgg.vo.MateBoardVo@TABLE_NAME_MATE}
	</select>
	
	<select id="getAuthorId" parameterType="long" resultType="string">
    	select m_writer
    	from mate_board
    	where m_idx = #{m_idx}
	</select>
</mapper>