.read_container{
/* 	background-color: white; */
	margin: 100px;
/* 	height: 100%; */
}

.read{
	background-color: white;
	width: 80%;
	min-height: 60vw;
/* 	height: 60vw; */
	margin-top: -620px;
	margin-left: 270px;
}

@media screen and (max-width: 1500px) {
  .read {
    width: 100%;
	height: 90vw;
    margin-top: 100px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  .read {
	min-height: 600px;
  }
}

.read_head{
	width:: 100%;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	border-bottom: 1px solid #EBEEF1;
}

.content{
	padding-top: 30px;
	padding-left: 30px;
	min-height: 1000px;
}

.read_actions{
	display: flex;
	padding-bottom: 40px;
	padding-right: 10px;
	justify-content: flex-end;
	border-bottom: 1px solid #EBEEF1;
}

@media screen and (max-width: 1500px) {
  .read_actions {
	display: none;
}
}

.comments{
}

.hidden{
	display: none;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

/* .modal-background { */
/* 	position:fixed; */
/* 	top:0; */
/* 	left:0; */
/* 	width:100%; */
/* 	height:100%; */
/* 	background:rgba(0, 0, 0, 0.8); */
/* 	z-index:-1; */
/* } */

.show {
	display: block;
}