html {
	height: 100%;
}
body {
    background-color: rgb(222,220,238);;
	margin: 0 auto;
	min-height: 100%;
}

a {
  font-family: '맑은 고딕', sans-serif;
  font-size: 16px;
  color: inherit;
  text-decoration: none; /* 밑줄 제거 */
}

/* .board_wrap{ */
/* } */



/* ================== head ================== */
.head{
	display: flex;
	background-color: rgb(106,96,169);
	position: sticky;
	padding-top: 32px;
  	top: -32px;
  	z-index: 1;
}

@media screen and (max-width: 600px) {
  .boards_head {
  display: none;
  }
}

.logoBox{
	padding: 15px;
	width: 150px;
	height: 50px;
}

.logo{
  width: 100%; 
  object-fit: cover;
}

.headTab{
	display: block;
	width: 100%;
}

.headTop{
	height: 50%;
	display: flex;
	float: right;
	line-height: 40px;
	padding-right: 10px;
}

.userName {
	display:flex;
	align-items:center;
	justify-content:center;
	height:40px;
}

#userNameTop {
	color: white;
}

.Proclogin {
   width:80px;
   height:40px;
   text-align:center;
   display:flex;
   align-items:center;
   justify-content:center;
}
.Proclogin a {
   background-color:#dedcee;
   font-size:15px;
   color:#6a60a9;
   border-radius:4px;
   height:30px;
   text-align:center;
   display:flex;
   flex-direction: column;
   justify-content:center;
}

.headBot{
	height: 100%;
	display: flex;
}

.boards_head{
	 align-self: flex-end;
	 margin-bottom: 10px;
}

.boards_head a{
	color: white;
}




/* ==================== middle ==================== */
.middle{
	width: 100%; height: 100px;
}

#search{
	position: absolute;
	top: 250px;
	right: 200px;
}

@media screen and (max-width: 800px) {
  .middle {
	display: none;
}
}

/* ================== container  ================== */
.container{
	display: flex;
	margin: 100px;
}

/* 리스트 */
.list{
	width: 80%;
	display: block;
	background-color:#dedcee;
}

@media screen and (max-width: 1500px) {
  .list {
    width: 100%;
  }
} 

.list_head{
	display: flex;
	align-items: flex-start;
	width: auto;
	height: 130px;
	padding-left: 20px;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 0px 1px 3px 2px rgba(106, 96, 169, 0.3);
}

.postBox{
	width: 100%;
	border-bottom: 1px solid #EBEEF1;
}

#postBox{
	box-shadow: 0px 1px 3px 2px rgba(106, 96, 169, 0.3);
	
}

ul {
	width: auto;
	list-style: none;
	display: flex;
	margin: 0px;
	background-color: white;
	padding-top: 4px;
}

.posts {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 10px;
}

.idx, .date, .user {
	width: 10%;
	color: rgb(106,96,169);
}

.title {
	text-align: left;
	width: 70%;
	color: #474747;
}

.paging{
	display: block;
	width: 100%;
	height: 40px;
	background-color: white;
	text-align: center;
	padding-top: 15px;
	box-shadow: 0px 1px 3px 2px rgba(106, 96, 169, 0.3);
}

/* sideMenu */
.sideMenu{
	margin-right: 6px;
	background-color: white;
	width: 20%;
	height:600px;
	position: sticky;
	top: 80px;
	box-shadow: 0px 1px 3px 2px rgba(106, 96, 169, 0.3);
}

@media screen and (max-width: 1500px) {
  .sideMenu {
    display: none;
  }
}

#profileBox{
	background-color: white;
	height: 200px;
	border-bottom: 1px solid #EBEEF1;
}

.side{
	height: 120px;
}

.side_btn{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#write, #login{
	background-color: rgb(106,96,169);
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 180px;
	cursor: pointer;
	font-size: 18px;
	color: white;
}

#write:hover {
	background-color: rgb(70,56,129);
	transition: background-color 0.2s;
}

.boards_side{
	margin-left: 20px;
}

#side_free, #side_tip, #side_comp{
	text-align: left;
	width: 90%;
	height: 40px;
	margin-top: 15px;
	border: none;
	cursor: pointer;
	background-color: white;
}


#side_free:hover, #side_tip:hover, #side_comp:hover{
	background-color: #dedcee;
	transition: background-color 0.2s;
}

/* ================== bottom  ================== */
.bottom{
	text-align: center;	
	width: 100%;
	height: 40px;
}